fastapi
uvicorn
pytesseract
ultralytics
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless
numpy
pillow
deep-translator
python-multipart
requests
python-dotenv
langchain-core
langchain-google-genai